snippet ec2 "aws" w
elastic cloud compute
endsnippet

snippet iam "aws" w
identity access management
endsnippet

snippet arn "aws" w
amazon resource name
endsnippet

snippet aws "amazon web services" w
amazon web services
endsnippet






